@media (max-width: 767px) {
    .main {
        padding: 0px;
        padding-top: 120px;
    }
}

@media (max-width: 500px) {
    .orientation-msg-text {
        font-size: 30px;
    }
    .betting-section {
        flex-wrap: wrap;
    }
    .betting-section>div {
        width: 100%;
    }
    .center-bet-section {
        height: 130px;
    }
    .coin-section {
        flex-wrap: wrap;
    }
    .coin-section>div {
        width: 100%;
    }
    .table-content {
        overflow-x: auto;
    }
}