@media (max-width: 767px) {
    .main {
        padding: 0px;
        padding-top: 120px;
    }
}

@media (max-width: 500px) {
    .orientation-msg-text {
        font-size: 30px;
    }
    .betting-section {
        flex-wrap: wrap;
    }
    .betting-section>div {
        width: 40%;
    }
    .center-bet-section {
        height: auto;
        width: 20% !important;
    }
    .coin-section {
        flex-wrap: wrap;
    }
    .coin-section>div {
        width: 100%;
    }
    .table-content {
        overflow-x: auto;
    }
    .number-box {
        margin: 5px
    }
    .numbers-container {
        padding: 10px;
        height: auto;
    }
    .numbers-container>div {
        flex-wrap: wrap;
    }
    .range-container h4 {
        font-size: 15px;
    }
    .center-bet-section .number-box {
        margin: 0px;
    }
}